.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo-gallery {
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
#photo-container {
    width: 800px;
    text-align: right;
}
#photo {
    object-fit: cover;
    width: 500px;
    height: 500px;
    cursor: pointer;
    border: 1px solid var(--line);
}
#photo-info {
    width: 40%;
}
#photo-info ul li {
    margin-left: 30px;
    text-indent: -30px;
    list-style-position: unset;
    list-style-type: none;
}

#photo-controls {
    margin: 1rem 0;
    width: 80%;
    text-align: center;
}
#photo-controls button {
    padding: 0.5rem 1rem;
}


@media (max-width: 600px) {
    #photo-container {
        width: 400px;
    }
    #photo {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    #photo-container {
        width: 500px;
    }
    #photo {
        width: 300px;
        height: 300px;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    #photo-container {
        width: 600px;
    }
    #photo {
        width: 400px;
        height: 400px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    #photo-container {
        width: 700px;
    }
    #photo {
        width: 500px;
        height: 500px;
    }
}