.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo-gallery {
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
#photo-container {
    width: 60%;
    text-align: right;
}
#photo {
    width: 40%;
    cursor: pointer;
    border: 1px solid var(--line);
}
#photo-info {
    width: 40%;
}
#photo-info ul li {
    margin: 0;
    text-indent: 0;
    list-style-position: unset;
}

#photo-controls {
    margin: 1rem 0;
    width: 50%;
    text-align: center;
}
#photo-controls button {
    padding: 0.5rem 1rem;
}


#modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    cursor: pointer;
    border: 1px solid var(--line);
}

#modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 2rem;
    font-weight: bold;
}
#modal-close:hover,
#model-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}