/* 
    ### COLOR DEFINITIONS 
*/
:root {
    --text: #000;
    --background: #ead4f1;
    --heading: #3c096c;
    --heading-shadow: #ceafe8;
    --line: var(--heading);
    --footer: var(--heading-shadow);

    --link: #8e27ee;
    --link-hover: #6213ac;
    --link-footer: var(--link);
    --link-footer-hover: var(--link-hover);

    --noscript-background: red;
    --noscript-line: #570808;

    --button-background: #666;
    --button-foreground: #f9f9f9;

    --form-input-background: #fff;

    --table-background: #ddb8e9;
    --table-second-row: #dea8ee;
}
.dark-mode {
    --text: #fff;
    --background: #160327;
    --heading: #bd76ff;
    --heading-shadow: #3b264d;
    --line: var(--heading);
    --footer: var(--heading-shadow);

    --link: #efef1e;
    --link-hover: #c9b60c;
    --link-footer: var(--link);
    --link-footer-hover: var(--link-hover);

    --noscript-backgorund: #881111;
    --noscript-line: #570808;

    --form-input-background: #2a054b;

    --table-background: #2f0950;
    --table-second-row: #3a0d61;
}


/* 
    ### FONT DEFINITIONS
*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*[lang=ja] {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", sans-serif;
}



/* 
    ### HTML & BODY
*/
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;

    color: var(--text);
    background-color: var(--background);
}



/* 
    ### LINK AND TEXT COLORS
*/
a:link, a:active, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: var(--link);
}
a:hover {
    color: var(--link-hover);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
}


/* 
    ### MARGINS AND PADDINGS 
*/
.row {
    margin: 0;
    padding: 0;
}
.col-md-12 {
    margin: 0;
    padding: 0;
}


/* 
    FLOATING CONTAINERS 
*/ 
.controls {
    position: absolute;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1%;
    right: 1%;
    box-shadow: 5px 7px 5px var(--heading-shadow);
    border: 1px solid var(--line);
    border-radius: 3%;
}
.content-image {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
}
.content-image img {
    width: 80%;
}


/* 
    ### HEADER
*/
header h1[lang=de],
header h1[lang=en] {
    font-size: 5rem;
    color: var(--heading);
    /* Move 'DOPPERA' on top of the katakana characters */
    position: relative;
    top: -5.5rem;
}
header h1[lang=ja] {
    font-size: 7rem;
    color: var(--heading-shadow);
    /* Offset the katakana characters, as the first one is only half-width */
    margin-left: -0.1em;
}
header h2 {
    margin-top: -3em;
}
header a:link,
header a:hover,
header a:visited,
header a:active {
    color: var(--heading)
}


/* 
    ### NAVIGATION
*/
nav {
    margin: 10px 0;

    border-top: 1px solid var(--heading-shadow);
    border-bottom: 1px solid var(--heading-shadow);
}
.nav a:link, 
.nav a:active, 
.nav a:visited {
    text-decoration: none;
    font-weight: bold;
    color: var(--link);
}
.nav a:hover {
    color: var(--link-hover);
}
.dropdown-menu {
    background-color: var(--heading-shadow);
    border: 1px solid var(--line);
}
.dropdown-item:hover {
    background-color: var(--background);
}


/* 
    ### MAIN CONTENT 
*/
main {
    margin-top: 2.5rem;
}
main article {
    margin: 0 0 4rem 0;
    padding: 2% 6%;
    margin-right: 15%;
    border-top: 1px solid var(--line);
    position: relative;
}
main article:nth-of-type(2n) {
    margin-right: 0;
    margin-left: 15%;
}
main article h2[lang=de],
main article h2[lang=en] {
    font-weight: bold;

    position: relative;
    top: -2.8rem;
    left: 2rem;
}
main article h2[lang=ja] {
    color: var(--heading-shadow);
    font-size: 3rem;
    font-weight: bold;
}
main article h3 {
    padding-left: 4rem;
}
main article img {
    height: 100px;
    position: absolute;
    right: 15px;
    top: 5px;
    border: 1px solid var(--line);
    border-radius: 3%;
    box-shadow: 2px 4px 2px var(--heading-shadow);
}
main li {
    margin-left: 10%;
    margin-bottom: 0.3rem;
    text-indent: -5%;
    list-style-position: inside;
}


/*
    ### PROJECT SPECIFIC
*/
.project-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-info div {
    margin: 0px 5px;
    padding: 5px 20px;
    background-color: hotpink;
}
.project-content {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#game-board {
    display: grid;
    grid-template-columns: auto auto;
}
#game-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.12rem;
    border: 1px solid var(--line);
}
#game-board div:hover {
    background-color: var(--heading-shadow);
    cursor: pointer; 
}
#game-board div.revealed {
    cursor: default;
}
#game-board div.mine {
    background-color: red;
}

/*
    ### TEXT FORMATS
*/
span.name {
    color: var(--heading);
}
span.name::before,
span.name::after {
    content: "'";
}


/*
    ### FORMS
*/
form {
    margin-bottom: 3rem;
    padding: 0.5rem;
}
form fieldset {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--line);
}
form fieldset input,
form fieldset textarea {
    margin-bottom: 0.5rem;
    border: 1px solid var(--line);
    width: 80%;
    color: var(--text);
    background-color: var(--form-input-background);
}
form button {
    margin: 1rem;
    padding: 0.3rem;
    color: var(--text);
    background-color: var(--form-input-background);
}


table {
    border-collapse: collapse;
    margin-bottom: 2rem;
}
table tr {
    background-color: var(--table-background);
    height: 0.8rem;
}
table tr:nth-of-type(2n) {
    background-color: var(--table-second-row);
}
table tr td, table tr th {
    border: 1px solid var(--line);
    padding: 0.8rem;
}
table tr th {
    text-align: center;
    vertical-align: center;
    font-size: 1.3rem;
}
table .empty {
    border: none; 
    background-color: var(--background);
}
table.alphabet {
    width: 100%;
    /* background-color: hotpink; */
    /* display: flex;
    justify-content: center; */
}
table.alphabet td {
    text-align: center;
    vertical-align: center;
    font-size: 1.7rem;
    width: fit-content;
}
table.kanji td{
    vertical-align: top;
}
table.kanji td[lang=ja] {
    text-align: center;
    vertical-align: center;
    font-size: 4rem;
}
table.kanji td.meaning {
    text-align: center;
    vertical-align: center;
}


/* 
    ### FOOTER
*/
footer {
    font-size: 0.8rem;
    background-color: var(--footer);
    border-top: 1px solid var(--line);
}
footer a, footer a:active, footer a:visited {
    color: var(--link-footer)
}
footer a:hover {
    color: var(--link-footer-hover);
}


/*
    ### NOSCRIPT
*/
#noscript {
    padding: 1rem 0;
    font-size: 1.0rem;
    background-color: var(--noscript-backgorund);
    border-bottom: 1px solid var(--noscript-line);
    border-top: 1px solid var(--noscript-line);
}
#noscript h2 {
    color: var(--text);
}


/* 
    ### MEDIA QUERIES
*/

/* Same width as bootstraps md definition */
@media (max-width: 767.98px) {
    main article {
        margin-right: 0;
    }

    main article:nth-of-type(2n) {
        margin-left: 0;
    }
    main article img {
        display: none;
    }

    .content-image {
        display: none;
    }
    header h1[lang=de],
    header h1[lang=en] {
        font-size: 3.5rem;
        position: relative;
        top: -4rem;
    }
    header h1[lang=ja] {
        font-size: 5.5rem;
        margin-left: -0.2em;
    }
    header h2 {
        font-size: 1.2rem;
    }
}