<div class="row footer">
    <div class="col-md-12">
        <ul class="nav">
            <li class="nav-item">
                <a href="mailto:b.doppler@doppera.at" class="nav-link">&copy; 2025 by Bernhard Doppler</a>
            </li>
            <li class="nav-item">
                <a href="imprint.html" class="nav-link">Impressum</a>
            </li>
            <li class="nav-item">
                <a href="data-complience.html" class="nav-link">Datenschutz</a>
            </li>
            <li class="nav-item">
                <a href="contact.html" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </div>
</div>