<div class="row footer">
    <div class="col-md-12">
        <ul class="nav">
            <li class="nav-item">
                <a href="mailto:b.doppler@doppera.at" class="nav-link">&copy; 2025 by Bernhard Doppler</a>
            </li>
            <li class="nav-item">
                <a href="contact.html" class="nav-link">Kontakt</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/doppera-at" target="_blank"><img src="../../images/socials/github.png" alt="GitHub Logo"></a>
                <a href="https://www.linkedin.com/in/bernhard-doppler" target="_blank"><img src="../../images/socials/linkedin.png" alt="LinkedIn Logo"></a>
            </li>
        </ul>
    </div>
</div>