<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="about-me.html" class="nav-link">Über mich</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-offset="5,10" href="#" role="button" aria-expanded="false">Programmieren</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="coding-vim.html" class="dropdown-item">Vim-Motions</a>
                    </li>
                    <li>
                        <a href="coding-rust.html" class="dropdown-item">Rust</a>
                    </li>
                    <li>
                        <a href="coding-python.html" class="dropdown-item">Python</a>
                    </li>
                    <li>
                        <a href="coding-projects.html" class="dropdown-item">Projekte</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-offset="5,10" href="#" role="button" aria-expanded="false">Japanisch</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="nihongo-general.html" class="dropdown-item">Allgemeines</a>
                    </li>
                    <li>
                        <a href="nihongo-alphabets.html" class="dropdown-item">Hiragana/<br>&nbsp;&nbsp;&nbsp;Katakana</a>
                    </li>
                    <li>
                        <a href="nihongo-kanji.html" class="dropdown-item">Kanji</a>
                    </li>
                    <li>
                        <a href="nihongo-trainer.html" class="dropdown-item">Alphabet-Trainer</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-offset="5,10" href="#" role="button" aria-expanded="false">Kunst</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="art-drawing.html" class="dropdown-item">Zeichnen/Malen</a>
                    </li>
                    <li>
                        <a href="art-photography.html" class="dropdown-item">Fotografie</a>
                    </li>
                    <li>
                        <a href="art-poetry.html" class="dropdown-item">Gedichte</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>